<h5 class="text-center">
  ようこそ！QBRへ！<br>
  Quick Barber shop Reservationの頭文字を取りました。</br>
  予約、予約履歴確認、お知らせ詳細は、<br>
  会員登録が必要となります。
</h5>

<div class="container">
  <h3>お知らせ</h3>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>タイトル</th>
            <th>期限</th>
          </tr>
        </thead>
        <tbody>
          <% @notices.first(3).each do |notice| %>
            <tr>
              <td><%= notice.title %></td>
              <td><%= notice.deadline %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if customer_signed_in? %>
        <div class="text-right">
          <%= link_to "お知らせ一覧へ", notices_path, class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
