<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>メニュー一覧</h1>
      <p>当店で取り扱っているメニューになります</p>
    </div>
  </div>
  <div class="row">
    <% @menus.each do |menu| %>
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= menu.menu_title %></h5>
          <h6 class="card-subtitle mb-2 text-body-secondary"><%= menu.menu_sub_title %></h6>
          <p class="card-text"><%= menu.menu_explanation %></p>
          <p class="card-text"><%= menu.price %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
