<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">カットのみ</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">cut only</h6>
          <p class="card-text">カットのみです。</p>
          <p class="card-text">1200円</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">髭剃り</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Shaving</h6>
          <p class="card-text">ひげをそります</p>
          <p class="card-text">850円</p>
        </div>
      </div>
    </div>
  </div>
</div>
