<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <h5 class="col-md-2">会員一覧</h5>

      <div class="col-md-10 mx-auto">
        <table class="table mt-3">
          <thead>
            <tr>
              <th class="table-active">会員ID</th>
              <th class="table-active">氏名</th>
              <th class="table-active">メールアドレス</th>
              <th class="table-active"　colspan="2"></th>
            </tr>
          </thead>
          <% @customers.each do |customer| %>
            <tbody>
              <tr>
                <td><%= customer.id %></td>
                <td><%= customer.last_name + customer.first_name %></td>
                <td><%= customer.email %></td>
                <td colspan="2"></td>
              </tr>
            </tbody>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
